<!-- app.component.html -->
<div class="container">
  <app-header class="header" [navigationItems]="navigationItems" (pageSelected)="selectPage($event)"></app-header>
 
 
  <div class="grid">

    <app-side class="side"></app-side>

    <div class="main">
      <ng-container *ngIf="selectedPage === 'Page 1'" >
        <app-page1></app-page1>
      </ng-container>
      <ng-container *ngIf="selectedPage === 'Page 2'">
        <app-page2></app-page2>
      </ng-container>
      <ng-container *ngIf="selectedPage === 'Page 3'">
        <app-page3></app-page3>
      </ng-container>

    </div>

  </div>

  <app-footer class="footer"></app-footer>
</div>