<!-- page1.component.html -->
<div class="pages">
    <h1>Page 1</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sequi quam et eum deserunt fuga non exercitationem asperiores, numquam sint dolorum error ipsam illum quidem ea cupiditate quae. Ut, eum porro numquam similique aut odit deleniti dolorum praesentium repudiandae, neque facilis error? Dignissimos quia saepe eveniet praesentium amet facilis itaque natus delectus harum minus? Aut dicta ut, odio tempore a harum eligendi doloribus suscipit vero earum quisquam aperiam numquam, natus sequi nulla id officia porro distinctio iure deserunt. Doloremque, dolorum sequi eaque pariatur in, error quisquam voluptates sed et distinctio maxime architecto numquam tempore cum, voluptatum ipsam perspiciatis. Quam aliquid amet eaque ex nemo architecto cum quo id, quasi accusamus, voluptatibus magni magnam a ipsam nam eius eligendi.</p>
  </div>
  